/* Genel sayfa stili */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header kısmı */
header {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.1em;
}

/* Buy Token Link */
.buy-token {
    color: #4CAF50;
    text-decoration: none;
    font-size: 1.2em;
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Token listesi */
.token-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.token-card {
    display: flex;
    flex-direction: row;
    background-color: #2e2e2e;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    width: 80%;
    max-width: 1200px;
    color: white;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.token-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.token-info {
    display: flex;
    flex-direction: column;
}

.token-info p {
    margin: 5px 0;
}

.token-info a {
    color: #4CAF50;
    text-decoration: none;
}

.token-info a:hover {
    text-decoration: underline;
}

.copy-button {
    display: none;
    color: #4CAF50;
    cursor: pointer;
}

.token-address-container:hover .copy-button {
    display: inline;
}

/* Yükleme göstergesi */
.loading {
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    display: none; /* Başlangıçta gizli */
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #1e1e1e;
}

/* Animasyon */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsive Tasarım */
@media (max-width: 768px) {
    .token-card {
        flex-direction: column;
        width: 95%;
    }
}
